@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse-title,
.collapse-content {
  @apply bg-opacity-0 !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.translate-xy-8 {
  --tw-translate-x: -8px !important;
  --tw-translate-y: 8px !important;
}

main {
  overflow-y: scroll !important;
}

.drawer-toggle ~ .drawer-content {
  overflow-y: hidden !important;
}

.no-padding {
  padding: 0 !important;
}
